<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/expressionqtl</property>
		<property name="hibernate.connection.username">USERNAME</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.max_fetch_depth">8</property>
		<property name="hibernate.connection.password">PASSWORD</property>
		<property name="hibernate.default_catalog">expressionqtl</property>
		<property name="hibernate.default_schema">expressionqtl</property>
	</session-factory>
</hibernate-configuration>
